body{
    background-color: #d1b2b0;
    margin: 0 auto;
    font-size: 24px;
}

.parallax{
    min-height: 600px;
    background: transparent;
}

.info{
    z-index: 2;
    position: relative;
}

.navbar, .dropdown-item{
    overflow: visible !important;
    background: #d1b2b0;
    transition: 0.4s; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar-item {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 5px;
}
  
.navbar #h1 {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;

}

@media screen and (max-width: 580px) {
      .navbar {
      padding: 20px 10px !important;
}

.navbar a {
      float: none;
      display: block;
      text-align: left;
}

h1, footer{
    color: blanchedalmond;
}

#main{
    background-color: black;
}
#main{
    width: 100vh;
}

}
